// Specific CSS for your home-page

a.btn {
  margin-left: 56.5em;

}

a.btn.btn-info.btn-lg {
  font-family: "Raleway";
  color: #172E39;
  background-color: #F5BD69;
  border-color: #C39A5F;
  border-radius: 8px;
  left-margin: 800px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: #F5BD69;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container h2 {
  color: #F5BD69;
}

.container-drinks {
  padding: 100px;
}

.card {
  height: 200px;
}

.card-link {
  color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  font-family: "Raleway";
}
